@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg: #353535;
    --main-txt: #f0c000;
    --alt-bg: #474747;
    --alt-txt: #c89300;
    --dark: #242424;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--main-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--main-txt);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--alt-txt);
}

.profile {
    width: auto;
    height: 42vh;
}

.gallery {
    width: auto;
    height: 28vh;
}

body {
    background-color: var(--alt-bg);
}

nav {
    top: 0;
    display: flex;
    background-color: var(--main-bg);
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
}

nav h1 {
    margin: 4px 6px;
    font-size: 6vh;
    font-weight: 700;
    color: var(--main-txt);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul a {
    font-weight: 600;
    font-size: 2vh;
    text-decoration: none;
    color: var(--main-txt);
    padding: 10px;
    border-radius: 12px;
    margin: 0 4px;
}

nav ul a:hover {
    background-color: var(--alt-txt);
    color: var(--main-bg);
}

.highlight {
    background-color: var(--main-txt);
    color: var(--main-bg)
}

.highlight:hover {
    background-color: var(--alt-txt);
}

.title {
    padding: 32vh 0 38vh 20px;
    color: var(--main-txt);
    background-color: var(--alt-bg);
}

.title h1 {
    font-size: 15vh;
    font-weight: 700;
}

.title h2 {
    font-size: 6vh;
    font-weight: 600;
}

.title h3 {
    font-size: 3.5vh;
    font-weight: 600;
}

footer {
    background-color: var(--main-bg);
    color: var(--main-txt);
    padding: 4px;
}

footer h1 {
    font-size: 6vh;
    font-weight: 700;
    text-align: center;
}

.intro {
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: var(--main-bg);
    margin-bottom: 16vh;
}

.intro p {
    font-size: 4.5vh;
    margin: 25px 25px 25px 30px;
    font-weight: 400;
    color: var(--main-txt);
}

.intro .profile {
    border: solid var(--dark) 10px;
    border-radius: 14px;
}

.text {
    background-color: var(--main-bg);
    color: var(--main-txt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text .gallery {
    border: solid var(--dark) 10px;
    border-radius: 12px;
    margin: 15px 10px;
    height: 31vh;
}

.text h1 {
    font-size: 6vh;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}

.text p {
    font-size: 3vh;
    font-weight: 500;
}

.text a {
    font-size: 2.5vh;
    font-weight: 700;
    text-decoration: none;
    color: var(--main-bg);
    background-color: var(--main-txt);
    padding: 8px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.text a:hover {
    background-color: var(--alt-txt);
}

.done {
    color: var(--main-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35vh 0;
}

.done a {
    color: var(--main-txt);
}

.done a:hover {
    color: var(--alt-txt);
}

.done h1 {
    font-size: 7vh;
    font-weight: 700;
    margin-bottom: 2vh;
}

.done p {
    font-size: 3vh;
    font-weight: 600;
}