@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
}

.profile {
    width: auto;
    height: 45vh;
}

.gallery {
    width: auto;
    height: 30vh;
}